<% title("Index", "User") %>
<header>
  <h1>Users</h1>
</header>
<%= link_to "New User", new_user_path, class: "btn btn-primary" %> <%= link_to "Cancel", root_path, class: "btn btn-default"  %>
<br>
<br>
<div class="table table-responsive">
    <table class="table">
        <td>
          <%= form_tag(users_index_path, method: :get) do %>
            User Name  <%= text_field_tag :name, params[:name] %>
            <%= submit_tag 'Search', name: nil %>
          <% end %>
          <br>
          <%= form_tag(users_index_path, method: :get) do %>
            User Email <%= text_field_tag :email, params[:email] %>
            <%= submit_tag 'Search', name: nil %>
          <% end %>
        </td>
    </table>
</div>

<div class="table table-responsive">
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name+" ("+user.email+")" %></td>
          <td>
            <%= link_to "Edit",   edit_user_path(user), class: "edit" %>
            <%= link_to "Delete", admin_destroy_user_path(user), method: :delete, class: "delete", data: { confirm: "You sure?" } %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
</div>
