<% title(@post.title, "Collaborators") %>
<header>
  <h1> Add / Remove Collaborators </h1>
</header>
<h2><strong>Title: <%= @post.title %></strong></h2>

<div class="table table-responsive">
  <table class="table">
    <% @usersCollaboration.each do |user| %>
      <tr>
        <td><%= "#{user.name}( #{user.email} )" %></td>
        <td>
          <% if !user.cid.nil? %>
            <% collaborator = Collaborator.find( user.cid ) %>
            <%= link_to "Remove", [@post, collaborator], method: :delete, class: "delete" %>
          <% else %>
            <%= link_to "Add", post_collaborators_path(@post, user_id: user.id), method: :post, class: "add" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @usersCollaboration %>
    </div>
    <%= will_paginate @usersCollaboration, :container => false %>
</div>
