<header>
  <h1>File Attachment</h1>
  <h3><%= @post.title %></h3>
</header>
<%= link_to "New File", new_post_f1le_path, class: "btn btn-primary" %> <%= link_to "Cancel", post_path(@post), class: "btn btn-default"  %>
<br />
<br />

<div class="table table-responsive">
  <table class="table">
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
      <% @f1les.each do |f| %>
         <tr>
            <td><%= f.name %></td>
            <td><%= link_to "Download File", f.attachment_url %></td>
            <td><%= link_to "Delete", post_f1le_path(@post, f), method: :delete, class: "delete", data: { confirm: "Are you sure you want to delete #{f.attachment}?" } %></td>
         </tr>
      <% end %>
  </table>
</div>

<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @f1les %>
    </div>
    <%= will_paginate @f1les, :container => false %>
</div>
