<header>
  <h1>File Attachment</h1>
  <h3><%= @post.title %></h3>
</header>

<div class = "well">
   <%= simple_form_for ([:post, @f1le]), html: { multipart: true } do |f| %>
      <%= f.input :name %>
      <%= f.input :attachment %>
      <br>
      <%= f.submit "Save", class: "btn btn-primary" %> <%= f.submit "Cancel", class: "btn btn-default"  %>
   <% end %>
</div>
