<header>
  <h1>Edit Post</h1>
</header>
<%= simple_form_for(@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :body, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 8} %>
  <% if policy(@post).update? -%>
    <%= f.button :submit, class: "btn-primary" %> <%= link_to "Cancel", root_path, class: "btn btn-default"  %>
  <% end %>
<% end %>
