<header>
  <h1>Posts</h1>
  <% if policy(current_user).premium? -%>
    <ul class="actions">
      <%= link_to "New Post", new_post_path, class: "new" %>
    </ul>
  <% end %>
</header>

<div id="posts">
  <% @posts.each do |post| %>
    <% if post.user_collaborators.include?(current_user) %>
      <li><%= link_to post.title, post, class: 'collaborating' %></li>
    <% elsif (post.user_id == current_user.id) %>
      <li><%= link_to post.title, post, class: 'mine' %></li>
    <% else %>
      <li><%= link_to post.title, post %></li>
    <% end %>
  <% end %>
</div>
 <%= will_paginate %>
